VITEHUB_DEPLOYMENT_URL=https://calories.onmax.me
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_D1_DATABASE_ID=
OPENROUTER_API_KEY=
TELEGRAM_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ALLOWED_USER_ID=
